* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
}

.app {
  background-image: url('./007.gif');
  background-size: 50%;
  background-attachment: fixed; /* Keeps the background fixed while scrolling */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.todo-app {
  background: #3498db;
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard {
  background-color: #f787e8;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.form-add-todo,
.todo-edit-form {
  background-color: #f787e8;
  padding: 8px 16px;
  display: flex;
  gap: 8px;
  border-bottom: 1px solid #f787e8;
}

.form-add-todo > input,
.todo-edit-form > [type=text] {
  flex-grow: 1;
  font-size: 16px;
  padding: 8px;
  border: none;
  border-radius: 4px;
}

.form-add-todo > button {
  flex-grow: 1;
  background-color: #f0b4f0;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.todo-container {
  padding: 8px 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.todo-item {
  background-color: #f787e8;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.todo-item p {
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.todo-item .btn-group {
  display: flex;
  gap: 8px;
}

.todo-item .btn-group a {
  padding: 4px 8px;
  background-color: #f0b4f0;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.job-done {
  text-decoration: line-through;
  color: #6120b6;
}
ho1{
  background-color: #4CAF50;
  color: wheat;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}
ho2{
  background-color: #ff3333;
  color: wheat;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}